annotated-doc
annotated-types
anyio
asyncpg
click
dnspython
dotenv
email-validator
Faker
fastapi
greenlet
h11
idna
Jinja2
MarkupSafe
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-multipart
sniffio
SQLAlchemy
starlette
structlog
typing-inspection
typing_extensions
tzdata
uvicorn
